<div class="container text-center">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/general-table">Загальна таблиця</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/short-info">Коротка інформація</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>