<div class="container text-center">
    <h2>Коротка інформація</h2>

    <div class="row">
    <div class="col-md-12">
        <h3>Метрики по місяцях</h3>
        <table class="table table-striped table-bordered">
        <thead>
            <tr>
            <th>Місяць</th>
            <th>Загальна сума виданих кредитів</th>
            <th>Середня сума виданих кредитів</th>
            <th>Загальна сума нарахованих відсотків</th>
            <th>Кількість виданих кредитів</th>
            <th>Кількість повернених кредитів</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let metric of metrics">
            <td>{{ metric.month }}</td>
            <td>{{ metric.body }}</td>
            <td>{{ metric.body / metric.totalIssuances | number:'1.2-2' }}</td>
            <td>{{ metric.percent }}</td>
            <td>{{ metric.totalIssuances }}</td>
            <td>{{ metric.totalReturns }}</td>
            </tr>
        </tbody>
        </table>
    </div>
    </div>
</div>